<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
<listener class-name="TestUtils.Listeners">
	
</listener>
</listeners>

	
	
  <test thread-count="5" name="End to end Framework Test">
    <classes>
      <class name="QA.TestingFramewrkDesign.eCommerce_tc_4"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Error Validations Test">
    <classes>
      <class name="QA.TestingFramewrkDesign.eCommerce_tc_1"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Android Test">
    <classes>
      <class name="TestUtils.AndroidBasetest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
